<p>Filtro juego: <input type="text" [(ngModel)]="filtreJoc" placeholder="filtro" ng-required="false"/></p>
<p>Filtro periodo: <input type="text" [(ngModel)]="filtreNom" placeholder="filtro" ng-required="false"/></p>
<p>De:<input type="text" [(ngModel)]="filtreDataInici" placeholder="fecha" ng-required="false"/></p>
<p>A:<input type="text" [(ngModel)]="filtreDataFi" placeholder="fecha" ng-required="false"/></p>
{{user}}
<app-llista-periodes *ngIf="user" [user]=user [periodes]=periodes></app-llista-periodes>