<ul class="jocs">  
  <li *ngFor="let j of jocs">            
      <a *ngIf="permetEditar; else edicio" href="https://boardgamegeek.com/boardgame/{{j.bggID}}" target="_blank" class="Nota{{consultaNota(j)}}">      
        <details *ngIf="false; else nomestitol">
          <summary>    
          {{j.titol}}          
          </summary>
          <div [innerHTML]="j.comentari"></div>
          </details>
          <ng-template #nomestitol>      
            {{j.titol}}            
            </ng-template>          
        </a>
        <ng-template #edicio>
            <a routerLink="/undefined/joc/{{j.id}}">
              {{j.titol}}</a>
        </ng-template>
      <ul>
        <li *ngFor="let escenari of consultaEscenaris(j)" class="Nota{{escenari.nota}}">
          {{escenari.descripcio}}<span class="data"  >
              <app-data-detalls  [data]=escenari.dataInici></app-data-detalls>
               &ensp;
               <app-data-detalls  [data]=escenari.dataFi></app-data-detalls>
             </span>
        </li>
      </ul>       
      <div *ngIf="j.escenariUnic">
          <span class="data" *ngIf="j.escenariUnic.dataInici || j.escenariUnic.dataFi">
              <app-data-detalls  [data]=j.escenariUnic.dataInici></app-data-detalls>
               &ensp;
               <app-data-detalls  [data]=j.escenariUnic.dataFi></app-data-detalls>
             </span>
      </div>
  </li>
</ul>