 <ul>
<li *ngFor="let periode of periodes">
    <details *ngIf="periode.fills.length>0; else nomestitol">
    <summary>    
    {{periode.titol}}
    <app-data-detalls [data]=periode.dataInici></app-data-detalls>
    &ensp;
    <app-data-detalls [data]=periode.dataFi></app-data-detalls>     
    </summary>
    <ul>    
        <app-llista-periodes [periodes]=periode.fills></app-llista-periodes>    
    </ul>  
    </details>
    <ng-template #nomestitol>      
      {{periode.titol}}
      <app-data-detalls [data]=periode.dataInici></app-data-detalls>
      &ensp;
      <app-data-detalls [data]=periode.dataFi></app-data-detalls>     
      </ng-template>      
    </li>
</ul>
  
    