<div *ngIf="periode; else faltaPeriode">         
        <div><span>id: </span>{{periode.id}}</div>
        <h1>{{periode.titol}}</h1>        
        <div>{{periode.descripcio}}</div>
        <article>
          <app-llista-jocs [jocs]="jocsPrincipals"></app-llista-jocs>
          <app-llista-jocs [jocs]="jocsEscenaris" [periode]="periode"></app-llista-jocs>
          <app-llista-jocs [jocs]="jocsEpoca"></app-llista-jocs>
          <app-llista-jocs [jocs]="jocsEpocaEscenaris" [periode]="periode"></app-llista-jocs>
      </article>
        <nav>
          <app-llista-periodes [periodes]="periode.fills"></app-llista-periodes>
        </nav>
<ng-template #faltaPeriode>
  Periode no seleccionat
</ng-template>


  
