
nav
{
    float: left;
    border-width: 0.25%;
    padding-right: 1.5em;    
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin:0;
    border-color: black;
    border-style: inset;
    width: 25%;    
    background: whitesmoke
}

article
{        
    margin-left: 15em;
    padding-left: 10em;    
}


