
<header>
        
</header>       
<body>
      <br>
                                <input type="radio" Name="idioma" value="en" [(ngModel)]="idioma"> EN
                                <input type="radio" Name="idioma" value="es" [(ngModel)]="idioma"> ES
                                <input type="radio" Name="idioma" value="ca" [(ngModel)]="idioma"> CA
<br>
{{idioma}}
    <div *ngIf="user" class="flota">
        <ng-container *ngIf="opened; else closedTemplate">               
                <nav>         
                        <button (click)="opened=false" class="boto-barra">X</button>
                        <app-barra-navegacio [user]=user></app-barra-navegacio>
                </nav>
        </ng-container>
        <ng-template #closedTemplate>
                <header>
                        <button (click)="opened=true" class="boto-barra">-></button>
                </header>
        </ng-template>
    </div>
<article>
<div>
<router-outlet></router-outlet>
</div>
</article>
</body>
<footer>

</footer>