
<header>
        
</header>       
<body>

        <ng-container *ngIf="opened; else closedTemplate">               
                <nav>         
                        <button (click)="opened=false" class="boto-barra">X</button>
                        <app-barra-navegacio></app-barra-navegacio>
                </nav>
        </ng-container>
        <ng-template #closedTemplate>
                <header>
                        <button (click)="opened=true" class="boto-barra">-></button>
                </header>
        </ng-template>

<article>
       <div>
        <router-outlet></router-outlet>        
        </div>
</article>
</body>
<footer>

</footer>

