
nav
{
    float: left;
    border-width: 0.25%;
    padding: 0.25%;  
    margin: 0.25%;
    border-color: black;
    border-style: inset;
    width: 25%;    
    background: whitesmoke;    
}

header
{
    float:left;
}

article
{        
    float: left;        
    width: 60%;    
}

.boto-barra
{
    float: right;
    color: red;
    cursor: pointer;
}


