<li  [ngClass]="
{
  'final':periode.fills.length==0 && (!jocs || jocs.length==0 || true),
  'mostra':mostra && (periode.fills.length>0 || ((jocs && jocs.length>0) && false)),
  'nomostra':!mostra && (periode.fills.length>0 || ((jocs && jocs.length>0) && false))
}" (click)="OnMostra()">    
  <a routerLink="/periode/{{periode.id}}">
  {{periode.titol}}</a><span class="data"  >
   <app-data-detalls  [data]=periode.dataInici></app-data-detalls>
    &ensp;
    <app-data-detalls  [data]=periode.dataFi></app-data-detalls>
  </span>
  </li>    
    <app-llista-periodes *ngIf="mostra && periode.fills.length>0" [periodes]=periode.fills></app-llista-periodes>    
    <!--<app-llista-jocs *ngIf="mostra && jocs && jocs.length>0" [jocs]=jocs [periode]=periode></app-llista-jocs>-->

